@model ERP.ApplicationCore.Models.LoginModel
@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Login Basic - Pages";
}

@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card px-sm-6 px-0">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">@await Html.PartialAsync("../_Partials/_Macros")</span>
                            <span class="app-brand-text demo text-heading fw-bold">@TempData.Peek("appName")</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-1">Welcome to @TempData.Peek("appName")! 👋</h4>
                    <p class="mb-6">Please sign-in to your account and start the adventure</p>

                    <form id="formAuthentication" class="mb-6" asp-action="LoginBasic" method="post">
                        <div class="mb-6">
                            <label asp-for="EmailOrUsername" class="form-label"></label>
                            <input asp-for="EmailOrUsername" class="form-control" placeholder="Enter your email" autofocus />
                            <span asp-validation-for="EmailOrUsername" class="text-danger"></span>
                        </div>

                        <div class="mb-6 form-password-toggle">
                            <label asp-for="Password" class="form-label"></label>
                            <div class="input-group input-group-merge">
                                <input asp-for="Password" class="form-control" placeholder="********" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="mb-8">
                            <div class="d-flex justify-content-between mt-8">
                                <div class="form-check mb-0 ms-2">
                                    <input asp-for="RememberMe" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label"></label>
                                </div>
                                <a asp-controller="Account" asp-action="ForgotPassword">
                                    <span>Forgot Password?</span>
                                </a>
                            </div>
                        </div>

                        <div class="mb-6">
                            <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="/Auth/RegisterBasic">
                            <span>Create an account</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>