@using ERP.ApplicationCore.Models
@model UniversityModel

@{
    ViewData["Title"] = "EditUniversity";
}

<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">EditUniversity</h5>
                <a class="float-end" asp-action="GetUniversityList">Back to List</a>
            </div>
            <div class="card-body">
                <form asp-action="EditUniversity">
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="UniversityName">University Name</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="UniversityName" placeholder="Enter University Name" />
                            <span asp-validation-for="UniversityName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="ContactPerson">Contact Person</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="ContactPerson" placeholder="You Are Contact Person" />
                            <span asp-validation-for="ContactPerson" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="OfficialPhone">Offical Phone</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="OfficialPhone" placeholder="Enter You Offical Phone" />
                            <span asp-validation-for="OfficialPhone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="OfficialMobile">Mobile</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="OfficialMobile" placeholder="Enter Your Mobile" />
                            <span asp-validation-for="OfficialMobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="OfficialEmail">Email</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="OfficialEmail" placeholder="Enter Your Email" />
                            <span asp-validation-for="OfficialEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-sm-2 col-form-label" asp-for="OfficialLogo">Logo</label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="OfficialLogo" placeholder="Enter Your Logo" />
                            <span asp-validation-for="OfficialLogo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">EditUniversity </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>